/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  section .title {
    margin-bottom: 60px;
  }
  section .title .u-title-icon {
    font-size: 57px;
  }
  section .title p {
    font-size: 9pt;
  }
  section .title h2 {
    margin: 0;
    font-size: 55px;
  }
  header h1 {
    font-size: 34pt;
  }
  header .u-play {
    font-size: 80pt;
  }
  nav.head .logo {
    margin-left: -10px;
  }
  nav.head ul li a {
    padding-left: 10px;
    padding-right: 10px;
  }
  nav.head .social .fa {
    font-size: 22px;
  }
  nav.head .social .other .fa {
    font-size: 10px;
  }
  section.wwd .u-wwd-thee .box h3 {
    font-size: 25px;
  }
  section.wwd .u-wwd-thee .box p {
    font-size: 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .u-play {
    margin: 50px 0;
  }
  header .desc {
    padding-top: 30px;
  }
  header form input {
    width: 360px;
    margin-bottom: 8px;
    border: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 24pt;
    margin: 15px 0;
  }
  header .desc2 {
    font-size: 16pt;
  }
  header .help {
    padding-top: 5px;
  }
  header form {
    width: 100%;
  }
  header form input {
    width: 90%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  header .u-play {
    font-size: 70pt;
  }
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
