/*reset*/
html,body,h1,h2,h3,h4,h5,h6,div,span,iframe,p,a,ul,li,label,nav,section{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
aside,footer,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}
body > *{ box-sizing: border-box;}

.c-12    {width: 100%;}
.c-11-12 {width: 89.583333%;}
.c-10-12 {width: 81.25%;}
.c-9-12  {width: 72.916666%;}
.c-8-12  {width: 64.583333%;}
.c-7-12  {width: 56.25%;}
.c-6-12  {width: 47.916666%;}
.c-5-12  {width: 39.583333%;}
.c-4-12  {width: 31.25%;}
.c-3-12  {width: 22.916666%;}
.c-2-12  {width: 14.583333%;}
.c-1-12  {width: 6.25%;}

.row-h { display: flex; justify-content: space-between; }
.row-v { display: flex; justify-content: space-between; flex-direction: column; align-items: center; }

.row-c-h { display: flex; justify-content: space-around; }
.row-c-v { display: flex; justify-content: space-around; flex-direction: column; align-items: center; }

.mg {margin: 20px}

.mg-big {margin: 40px}

.mg-v {margin: 20px 0}
.mg-h {margin: 0 20px}

.mg-v-big {margin: 40px 0}
.mg-h-big {margin: 0 40px}

.mg-t {margin-top: 20px}
.mg-b {margin-bottom: 20px}
.mg-l {margin-left: 20px}
.mg-r {margin-right: 20px}

.mg-t-big {margin-top: 40px}
.mg-b-big {margin-bottom: 40px}
.mg-l-big {margin-left: 40px}
.mg-r-big {margin-right: 40px}
.mg-0 {margin: 0}

.p {padding: 20px}

.p-big {padding: 40px}

.p-v {padding: 20px 0}
.p-h {padding: 0 20px}

.p-v-big {padding: 40px 0}
.p-h-big {padding: 0 40px}

.p-t {padding-top: 20px}
.p-b {padding-bottom: 20px}
.p-l {padding-left: 20px}
.p-r {padding-right: 20px}

.p-t-big {padding-top: 40px}
.p-b-big {padding-bottom: 40px}
.p-l-big {padding-left: 40px}
.p-r-big {padding-right: 40px}
.p-0 {padding: 0}

.u-tac{text-align: center}
.u-tal{text-align: left}

.row-h-o-md {display: block;}
.row-v-o-md {display: block;}
.row-c-h-o-md {display: block;}
.row-c-v-o-md {display: block;}

@media only screen and (max-width : 480px){
	.u-tac-xs{text-align: center}
}
@media only screen and (max-width : 768px){
	.row-h-xs { display: flex; justify-content: space-between; }
	.row-v-xs { display: flex; justify-content: space-between; flex-direction: column; align-items: center; }

	.row-c-h-xs { display: flex; justify-content: space-around; }
	.row-c-v-xs { display: flex; justify-content: space-around; flex-direction: column; align-items: center; }
}

@media only screen and (max-width : 992px){
	.row-h-md { display: flex; justify-content: space-between; }
	.row-v-md { display: flex; justify-content: space-between; flex-direction: column; align-items: center; }

	.row-c-h-md { display: flex; justify-content: space-around; }
	.row-c-v-md { display: flex; justify-content: space-around; flex-direction: column; align-items: center; }
}
@media only screen and (min-width : 992px){
	.row-h-o-md { display: flex; justify-content: space-between; }
	.row-v-o-md { display: flex; justify-content: space-between; flex-direction: column; align-items: center; }

	.row-c-h-o-md { display: flex; justify-content: space-around; }
	.row-c-v-o-md { display: flex; justify-content: space-around; flex-direction: column; align-items: center; }
}

@media only screen and (max-width : 1200px){

}

@media only screen and (min-width : 992px) and (max-width : 1200px){
	.mg-md {margin: 20px;}

	.mg-big-md {margin: 40px;}

	.mg-v-md {margin: 20px 0;}
	.mg-h-md {margin: 0 20px;}

	.mg-v-big-md {margin: 40px 0;}
	.mg-h-big-md {margin: 0 40px;}

	.mg-t-md {margin-top: 20px;}
	.mg-b-md {margin-bottom: 20px;}
	.mg-l-md {margin-left: 20px;}
	.mg-r-md {margin-right: 20px;}

	.mg-t-big-md {margin-top: 40px;}
	.mg-b-big-md {margin-bottom: 40px;}
	.mg-l-big-md {margin-left: 40px;}
	.mg-r-big-md {margin-right: 40px;}

	.u-tac-md {text-align: center;}
}

@media only screen and (min-width : 768px){
	.mg-sm {margin: 20px;}

	.mg-big-sm {margin: 40px;}

	.mg-v-sm {margin: 20px 0;}
	.mg-h-sm {margin: 0 20px;}

	.mg-v-big-sm {margin: 40px 0;}
	.mg-h-big-sm {margin: 0 40px;}

	.mg-t-sm {margin-top: 20px;}
	.mg-b-sm {margin-bottom: 20px;}
	.mg-l-sm {margin-left: 20px;}
	.mg-r-sm {margin-right: 20px;}

	.mg-t-big-sm {margin-top: 40px;}
	.mg-b-big-sm {margin-bottom: 40px;}
	.mg-l-big-sm {margin-left: 40px;}
	.mg-r-big-sm {margin-right: 40px;}

	.u-tac-sm {text-align: center;}
}

