doctype html
html
	head
		meta(charset='utf-8')
		title Umbokc
		meta(content='', name='description')
		link(rel='shortcut icon', href='favicon.png')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='css/u-grid.css')
		link(rel='stylesheet', href='libs/bootstrap/bootstrap.min.css')
		link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='libs/owl/assets/owl.carousel.css')
		link(rel='stylesheet', href='libs/et-line/css/et-line.css')
		link(rel='stylesheet', href='libs/hamburger/css-hamburgers.min.css')
		link(rel='stylesheet', href='libs/magnific/magnific-popup.css')
		link(rel='stylesheet', href='libs/unslider/css/unslider.css')
		link(rel='stylesheet', href='libs/unslider/css/unslider-dots.css')

		link(rel='stylesheet', href='css/fonts.css')
		//- link(rel='stylesheet', href='css/main.min.css')
		//- link(rel='stylesheet', href='css/media.min.css')
		link(rel='stylesheet', href='css/main.css')
		link(rel='stylesheet', href='css/media.css')
	body
		.hidden
			.row-h-o-md
			.row-v-o-md
			.row-c-h-o-md
			.row-c-v-o-md
		header.homepage-hero-module
			.content
				.a
					.col-md-12.u-tac
						p.desc Content Description
						h1 See the world through our product
						p.desc2 Get The Most Converstion Rate Easily.
				div
					.u-tac
						.fa.fa-play-circle-o.u-play.u-bg-video-pp
				.row-c-h
					form.u-tac.row-c-h.row-c-v-xs(method='post')
						input(type='text', name='name', placeholder='Your Name')
						input(type='text', name='email', placeholder='Email Address')
						input.u-sbmt(type='button', value='Subscribe »')
				.help.u-tac
					| * We don’t share your personal 
					br
					|	info with anyone Check out our 
					a.u-not-a(href='#') Policy
					|	& for more information 
					a.u-not-a(href='#') Contact Us
					|	.
			.video-container
				video.fillWidth.u-bg-video(loop='').u-img-ow-bg
					source(src='videos/MP4/Aloha-Mundo.mp4', type='video/mp4')
					source(src='videos/WEBM/Aloha-Mundo.webm', type='video/webm')
					| Your browser does not support the video tag. I suggest you upgrade your browser.
					img(src='videos/Snapshots/Aloha-Mundo.jpg', alt='')
		.pseudo_nav_head
		nav.head
			.wrapper_head
				.container
					.row
						.col-md-1.col-sm-1.wrap_logo
							.logo
								a.u-not-a(href='#')
									img(src='img/logo.png', alt='логотип')
						.col-md-9.col-sm-9.wrap_ul
							ul
								li
									a.u-not-a(href='services') SERVICES
								li
									a.u-not-a(href='about') ABOUT
								li
									a.u-not-a(href='portfolio') PORTFOLIO
								//- li
									a.u-not-a(href='team') TEAM
								li
									a.u-not-a(href='pricing') PRICING
								li
									a.u-not-a(href='testimonial') TESTIMONIAL
						.col-md-2.col-sm-2.wrap_social
							.social
								a.fa.fa-facebook.u-not-a(href='#')
								a.fa.fa-twitter.u-not-a(href='#')
								.other.row-c-h
									.btn-group
										a.row-c-h.dropdown-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
											.fa.fa-circle-o
											.fa.fa-circle-o
											.fa.fa-circle-o
										ul.dropdown-menu
											li
												a.fa.fa-vk.u-not-a
											li
												a.fa.fa-github.u-not-a
											li
												a.fa.fa-google-plus.u-not-a
											li
												a.fa.fa-linkedin.u-not-a
						.menu-toogle.fa.fa-navicon
		section.wwd
			.container.title
				.row
					.u-tac
						.icon-happy.u-title-icon
				.row
					.u-tac
						p Product Features
						h2
							| What we 
							span do
			.container.row-c-h.u-wwd-thee
				.col-md-4.col-xs-12.box.u-tac.row-c-v
					.row-c-v
						.u-icon.icon-mobile
						h3.mg-t-big Fully Responsive
						p.mg-t-md
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
				.col-md-4.col-xs-12.box.u-tac.row-c-v
					.row-c-v
						.u-icon.icon-presentation
						h3.mg-t-big Easy to Customize
						p.mg-t-md
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
				.col-md-4.col-xs-12.box.u-tac.row-c-v
					.row-c-v
						.u-icon.icon-lightbulb
						h3.mg-t-big Direct Support
						p.mg-t-md
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.
		section.oc
			.container.title
				.row
					.u-tac
						.icon-clipboard.u-title-icon
				.row
					.u-tac
						p CONTENT DESCRIPTION
						h2
							| Our 
							span Contents
			.container.mg-b-big
				.row
					.col-md-7.col-sm-12
						.slider.u-img-awh-p
							ul
								li.row-c-v
									img(src='img/portfolio/1.jpg', alt='asd')
								li.row-c-v
									img(src='img/portfolio/2.jpg', alt='asd')
								li.row-c-v
									img(src='img/portfolio/3.jpg', alt='asd')
								li.row-c-v
									img(src='img/portfolio/4.jpg', alt='asd')
								li.row-c-v
									img(src='img/portfolio/5.jpg', alt='asd')
					.col-md-5.col-sm-12
						.list.mg-t-sm
							.box
								.vt-1 LOREM MESSAGE
								.vt-2 FIRST MESSAGE
							.box
								.vt-3
									| Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam. Proin ac metus diam.
							.box
								.vt-4 LOREM MESSAGE
								.vt-5 SECOND MESSAGE
							.box
								.vt-4 LOREM MESSAGE
								.vt-5 THIRD MESSAGE
						.end.mg-t
							p
								| Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam
		section#services.swp
			.container.title
				.row
					.u-tac
						.icon-tools.u-title-icon
				.row
					.u-tac
						p Choose your required service from here
						h2
							| Services We  
							span Provide
			.container
				.row.mg-b-big
					.col-md-12
						.swp_wrap.row
							.swp_wrap_item.col-md-4.col-sm-6.col-xs-6
								.swp_item
									h4 Web Desing
									ul
										li PSD TO HTML
										li Adaptive Web Design
										li Responsive Web Design
							.swp_wrap_item.col-md-4.col-sm-6.col-xs-6
								.swp_item.u-tac
									h3 Web Development
									.u-icon.icon-mobile
							.swp_wrap_item.col-md-4.col-sm-6.col-xs-6
								.swp_item.u-tac
									h3 Web Maintenance
									.u-icon.icon-tools
							.swp_wrap_item.col-md-4.col-sm-6.col-xs-6
								.swp_item
									h4 Web Desing
									ul
										li PSD TO HTML
										li Adaptive Web Design
										li Responsive Web Design
							.swp_wrap_item.col-md-4.col-sm-6.col-xs-6
								.swp_item.u-tac
									h3 Web Development
									.u-icon.icon-lightbulb
							.swp_wrap_item.col-md-4.col-sm-6.col-xs-6
								.swp_item.u-tac
									h3 Web Maintenance
									.u-icon.icon-video
		section#about.wof
			.container.title
				.row
					.u-tac
						.icon-genius.u-title-icon
				.row
					.u-tac
						p PRODUCT FEATURES
						h2
							| What Our  
							span Features..
			.container.wrapper_tabs
				.row
					.wof_buttons.u-tac.mg-b-big.tabs
						a.btn.active.u-not-a.tab(href='#') Introdaction
						a.btn.u-not-a.tab(href='#') About
						a.btn.u-not-a.tab(href='#') Features
				.row.tab_content
					.content.row-h-o-md.tab_item
						.left.mg-r-big.col-md-7.col-sm-12.col-xs-12
							iframe.auto_w_to_h(src='https://www.youtube.com/embed/epl7J1OeSmM',  height='309', frameborder='0', allowfullscreen='')
						.right.row-c-v.col-md-5.col-sm-12.col-xs-12
							.row-c-v.u-tal
								h3 Take a sneak peek at our videos, for once.
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo beatae omnis modi laboriosam? Totam quae, ab, vero tempora minus ipsam at dolores dolor, obcaecati deleniti provident pariatur ex modi aperiam. Quae, itaque.
					.content.row-h-o-md.tab_item
						.left.row-c-v.mg-r-big.col-md-5.col-sm-12.col-xs-12
							.row-c-v.u-tal
								h3 Take a sneak peek at our videos, for once.
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo beatae omnis modi laboriosam? Totam quae, ab, vero tempora minus ipsam at dolores dolor, obcaecati deleniti provident pariatur ex modi aperiam. Quae, itaque.
						.right.col-md-7.col-sm-12.col-xs-12
							iframe.auto_w_to_h(src='https://www.youtube.com/embed/epl7J1OeSmM', width='555', height='309', frameborder='0', allowfullscreen='')
					.content.row-h-o-md.tab_item
						.left.mg-r-big.col-md-7.col-sm-12.col-xs-12
							iframe.auto_w_to_h(src='https://www.youtube.com/embed/epl7J1OeSmM', width='555', height='309', frameborder='0', allowfullscreen='')
						.right.row-c-v.col-md-5.col-sm-12.col-xs-12
							.row-c-v.u-tal
								h3 Take a sneak peek at our videos, for once.
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores explicabo beatae omnis modi laboriosam? Totam quae, ab, vero tempora minus ipsam at dolores dolor, obcaecati deleniti provident pariatur ex modi aperiam. Quae, itaque.
		section#portfolio.ow.c-12
			.container
				.title
					.row
						.u-tac
							.icon-mobile.u-title-icon
					.row
						.u-tac
							p PorTFOLIO
							h2
								| Our 
								span Works
				
				.head
					.ow_buttons.u-tac#filters
						a.u-not-a.btn.active(href='#' data-filter="*") All
						a.u-not-a.btn(href='#' data-filter=".design") Web Design
						a.u-not-a.btn(href='#' data-filter=".dev") Web Development
						a.u-not-a.btn(href='#' data-filter=".uncat") Uncategorized
			.portfolio_wrapper
				figure.ow-item.design.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/1.jpg', alt='asd')
				figure.ow-item.design.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/2.jpg', alt='asd')
				figure.ow-item.design.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js 
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/3.jpg', alt='asd')
				figure.ow-item.dev.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/4.jpg', alt='asd')
				figure.ow-item.dev.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/5.jpg', alt='asd')
				figure.ow-item.dev.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/1.jpg', alt='asd')
				figure.ow-item.uncat.dev.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/2.jpg', alt='asd')
				figure.ow-item.uncat.u-img-ow-bg
					.tech
						ul
							li Bootstrap
							li Js
					.desc.row-c-v
						p
							| Infinite Landing Page 
							br
							|  by 
							span Naveen
					img(src='img/portfolio/5.jpg', alt='asd')
		//- section#team.ot.mg-b-big
			.container.title
				.row
					.u-tac
						.icon-lifesaver.u-title-icon
				.row
					.u-tac
						p People Who cares
						h2
							| Our   
							span Team
			.container.row-c-h
				.col-md-4.pers.u-tac.row-c-v
					.row-c-v
						div
							img(src='img/pers_1.jpg', alt='')
						h3.name Peter Parker
						p.spec Website Developer
						.social
							a.u-not-a.fa.fa-facebook(href='#')
							a.u-not-a.fa.fa-twitter(href='#')
							a.u-not-a.fa.fa-linkedin(href='#')
				.col-md-4.pers.u-tac.row-c-v
					.row-c-v
						div
							img(src='img/pers_2.jpg', alt='')
						h3.name Peter Parker
						p.spec Website Developer
						.social.row-h
							a.u-not-a.fa.fa-facebook(href='#')
							a.u-not-a.fa.fa-twitter(href='#')
							a.u-not-a.fa.fa-linkedin(href='#')
				.col-md-4.pers.u-tac.row-c-v
					.row-c-v
						div
							img(src='img/pers_1.jpg', alt='')
						h3.name Peter Parker
						p.spec Website Developer
						.social
							a.u-not-a.fa.fa-facebook(href='#')
							a.u-not-a.fa.fa-twitter(href='#')
							a.u-not-a.fa.fa-linkedin(href='#')
		section.nf
			.container
				.row
					.col-md-5.hidden-sm.hidden-xs
						img(src='img/three-blocks.png', alt='block')
					.col-md-7.right
						.title2
							h2 NEW FEATURES
							h3
								| Some extra 
								span Love
								|  from us
							p Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor.
						.list
							ul
								li.fa.fa-arrow-circle-o-right Modern Design
								li.fa.fa-arrow-circle-o-right Fully Responsive
								li.fa.fa-arrow-circle-o-right Bootstrap Grid
								li.fa.fa-arrow-circle-o-right Mailchimp Supported
								li.fa.fa-arrow-circle-o-right Easy To Customize
							ul.fl_r
								li.fa.fa-arrow-circle-o-right Powerful Options
								li.fa.fa-arrow-circle-o-right Fresh Colors
								li.fa.fa-arrow-circle-o-right Validated Code
								li.fa.fa-arrow-circle-o-right Ajax Supported Form
								li.fa.fa-arrow-circle-o-right Best Typography
						.nf_buttons
							a.u-not-a.btn.active(href='#') Get Infinite Now
							a.u-not-a.btn.d_active(href='#') View More
		section.statistics
			.container
				.row
					.u-tac
						.ttl 70% People Belive Another Consumer's Opinion Posted Online
				.row.mg-t-big
					.col-md-3.col-sm-3.col-xs-6.u-tac
						.u-icon.icon-facebook
						.price 5,000
						.desc Facebook Like
					.col-md-3.col-sm-3.col-xs-6.u-tac
						.u-icon.icon-twitter
						.price 3,000
						.desc Twitter Follower
					.col-md-3.col-sm-3.col-xs-6.u-tac
						.u-icon.icon-happy
						.price 900
						.desc Happy Clients
					.col-md-3.col-sm-3.col-xs-6.u-tac
						.u-icon.icon-globe
						.price 7,000
						.desc Money Earned
		section.subscribe
			.container
				.row
					.col-md-7
					.col-md-5
						h3 Subscribe 
						form.u-tac.row-c-h(method='post')
							input(type='text', name='email', placeholder='Email your Address')
							a.u-not-a.u-sbmt.fa.fa-envelope(href='#')
						p
							| Subscribe to our weekly newsletter, We promise you that we wont spam you. Asperiores totam molestias eaque sunt maiores delectus modi ut ab!
		section#pricing.sybd.mg-b-big
			.container.title
				.row
					.u-tac
						.icon-presentation.u-title-icon
				.row
					.u-tac
						p PRODUCT PACKAGES
						h2
							| Select your 
							span best deal !
			.backup.container
			.container.row-c-h.wrapper
				.col-md-4.box.u-tac.row-c-v
					.row-c-v
						h3.mg-t Basic
						p.price $59
						p.month Per Month
						ul
							li
								span Unlimited
								|  Bandwidth
							li
								span Unlimited
								|  Space
							li
								span One
								|  Time Fees
							li
								span 24/7
								|  Free Support
							li
								span Cpanel
								|  Access
						.sybd_buttons.mg
							a.u-not-a.btn(href='#') Get Started
						p.trial.mg-b
							| 30 Day One User 
							br
							| Try Our Product Now
				.col-md-4.box.u-tac.row-c-v.active
					.row-c-v
						h3.mg-t Premium
						p.price $99
						p.month Per Month
						ul
							li
								span Unlimited
								|  Bandwidth
							li
								span Unlimited
								|  Space
							li
								span One
								|  Time Fees
							li
								span 24/7
								|  Free Support
							li
								span Cpanel
								|  Access
						.sybd_buttons.mg
							a.u-not-a.btn(href='#') Get Started
						p.trial.mg-b
							| 30 Day One User 
							br
							| Try Our Product Now
				.col-md-4.box.u-tac.row-c-v
					.row-c-v
						h3.mg-t Ultimate
						p.price $149
						p.month Per Month
						ul
							li
								span Unlimited
								|  Bandwidth
							li
								span Unlimited
								|  Space
							li
								span One
								|  Time Fees
							li
								span 24/7
								|  Free Support
							li
								span Cpanel
								|  Access
						.sybd_buttons.mg
							a.u-not-a.btn(href='#') Get Started
						p.trial.mg-b
							| 30 Day One User 
							br
							| Try Our Product Now
			.container
				.row.u-tac
					p.help
						| Want to know more ? 
						a.u-not-a(href='#') read article,
						|  check 
						a.u-not-a(href='#') FAQ
						| , or 
						a.u-not-a(href='#') contact us
						| .
		section#testimonial.sh
			.container.title
				.row
					.u-tac
						.icon-chat.u-title-icon
				.row
					.u-tac
						p contact us
						h2
							| Say 
							span Hello !
			.container
				.row
					.col-md-offset-2.col-md-8
						form(method='post')
							input(type='text', name='name', placeholder='Your Name')
							input(type='text', name='email', placeholder='Email Address')
							input(type='text', name='subject', placeholder='Subject')
							textarea(name='message', placeholder='Your Message')
							a.u-sbmt.popup_c(href='#thanks') Send Message
							//- input.u-sbmt.popup_c(type='button', value='Send Message' href='#thanks')

				.row
					.dop.mg-t-big
						.row-c-h.wrapper_down
							.col-md-4.box.u-tac.row-c-v
								.row-c-v
									.u-icon.icon-phone
									h3 HAVE A QUESTION?
									a.u-not-a(href='#') +1 1234567890
							.col-md-4.box.u-tac.row-c-v
								.row-c-v
									.u-icon.icon-clock
									h3 Open Mon - Fri
									p 08:00am to 8:00pm
							.col-md-4.box.u-tac.row-c-v
								.row-c-v
									.u-icon.icon-chat
									h3 Drop us an email
									a.u-not-a(href='#') help@yourdomain.com
		footer
			.container
				.row.row-h
					.col-md-4.col-xs-12.u-tac-xs
						.copy © 2017 Umbokc
					.col-md-4
					.col-md-4.col-xs-12.u-tac-xs
						.social
							a.u-not-a.fa.fa-facebook(href='#')
							a.u-not-a.fa.fa-twitter(href='#')
							a.u-not-a.fa.fa-linkedin(href='#')
							a.u-not-a.fa.fa-google-plus(href='#')
							a.u-not-a.fa.fa-instagram(href='#')

		.umbokc-copy.hidden
		.hidden
			#thanks
				p.u-tac.
					Спасибо за заявку!

		<!--[if lt IE 9]>
		<script src="libs/html5shiv/es5-shim.min.js"></script>
		<script src="libs/html5shiv/html5shiv.min.js"></script>
		<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/respond.min.js"></script>
		<![endif]-->

		script(src='libs/jquery/jquery-1.11.2.min.js')
		// <script src="libs/jquery/jquery-3.1.1.min.js"></script> 

		script(src='libs/bootstrap/bootstrap.min.js')
		script(src='libs/headhesive/headhesive.min.js')
		script(src='libs/isotope/jquery.isotope.js')
		script(src='libs/magnific/jquery.magnific-popup.min.js')
		script(src='libs/unslider/js/unslider-min.js')

		
		//- script(src='js/common.min.js')
		script(src='js/common.js')
